

        p {
            color: pink;
            background-color: lightblue;
        }
        .amarillo {
            color:yellow;
            background-color:khaki;}

         .morado{ color:mediumorchid;
         background-color:lightcyan   
         }

        #parrafo-especial{ color:orange}
