body {
    margin: 0px;
    background-color: black;
}

div {
    width: 100px;
    height: 50px;
    background-color: rgb(39, 132, 148);
    display: inline-table;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    font-weight: bold;
    transition: all 1000ms ease;
}

div:hover {
    background-color: gray;
    text-decoration: line-through;
}

div:hover:nth-child(odd) {
    background-color: white;
}

div:hover:nth-child(even) {
    background-color: lavender
}

div:last-child {
    background-color: red
}

div:nth-child(even) {
    background-color: lightcoral
}

div:nth-child(2) {
    background-color: ivory;


}


div:nth-child(4) {
    background-color: gold;


}