body {
    background-color: lightcoral;
}

.tarjeta {
    width: 150px ;
    height: 100px ;
    background-color: white;
    color: red;
    border: red 5px solid;
    margin-bottom: 50 px;
    margin-left: 20 px;
}